$white: #ffffff;
$black: #000000;
$popup-back: #131313;
$background: #272727;
$btn: #C2AB81;
$btn-hover: #785E2F;
$light-black: #171717;
$light-grey: #666666;
$dark-grey: #808080;
$input-border: #2B2B2B;